# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media

# Файлы резервных копий #
*.bak

# Если вы используете PyCharm #
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS Для конкретного пользователя
.idea/**/aws.xml

# Сгенерированные файлы
.idea/**/contentModel.xml

# Конфиденциальные или часто обновляемые файлы.
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Градл
.idea/**/gradle.xml
.idea/**/libraries

# Формат проекта на основе файлов
*.iws

# IntelliJ
out/

# Плагин JIRA
atlassian-ide-plugin.xml

# Python #
*.py[cod]
*$py.class

# Распространение/упаковка
.Python build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.whl
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Журналы установщика
pip-log.txt
pip-delete-this-directory.txt

# Отчеты о модульном тестировании/покрытии
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Блокнот Jupyter
.ipynb_checkpoints

# pyenv
.python-version

# celery
celerybeat-schedule.*

# файлы, обработанные SageMath
*.sage.py

# Среды
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# документация mkdocs
/site

# mypy
.mypy_cache/

# Возвышенный текст #
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# файл конфигурации sftp
sftp-config.json

# Пакет управления конкретными файлами Package
Control.last-run
Control.ca-list
Control.ca-bundle
Control.system-ca-bundle
GitHub.sublime-settings

# Visual Studio Code #
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history